<div class="chat-container">
    <div class="group-header">
        <div class="chat-header">
            <p>{{nameGroup}}</p>
        </div>
        <button class="add-member-button" (click)="openForm()">
            <i class="fa fa-user-plus"></i> Добавить участника
        </button>
    </div>
    <member-form *ngIf="isOpen" (closeForm)="closeForm()" [groupId]="groupId"></member-form>

    <div class="history">
        <div *ngFor="let gropedMessages of groupMessages" class="messages">
            <p class="date-message">{{gropedMessages.sentAt | date:'dd|MM|yyyy '}}</p>
            <div *ngFor="let message of gropedMessages.messages">
                <div *ngIf="message.senderId !== personId" class="incoming-message">
                    <p class="message-text">{{ message.content }} - {{ message.senderId}} - {{ message.sentAt |
                        date:'HH:mm'}}</p>
                </div>
                <div *ngIf="message.senderId === personId" class="outgoing-message">
                    <p class="message-text">{{ message.content }} - {{ message.senderId}} - {{ message.sentAt |
                        date:'HH:mm'}}</p>
                </div>
            </div>
        </div>
        <div class="members-container">
            <div class="group-members">
                <p class="members-header">Группу создал:</p>
                <p class="members-header">{{members.creatorLogin}}</p>
                <p class="members-header">Участники группы:</p>
                <ul>
                    <li *ngFor="let member of members.groupMembers">{{ member.memberLogin }} добавил
                        {{member.addedByPersonLogin}}
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="input-container">
        <input class="message-input" (keyup.enter)="sendGroupMessage()" [(ngModel)]="message">
        <button class="send-button" (click)="sendGroupMessage()">
            Отправить сообщение
        </button>
    </div>
</div>