<div class="chat-container">
    <div class="dialogs-container">
        <p>{{person.login}}<span *ngIf="onlineMarkers.includes(personId)" class="online-dot"></span></p>
        <div class="form-buttons">
            <button (click)="openUserForm()" class="open-button">Новый диалог</button>
            <app-user-form *ngIf="showUserForm" [users]="users" (closeForm)="closeUserForm()"></app-user-form>
            <button (click)="openGroupForm()" class="open-button">Новая группа</button>
            <group-form *ngIf="isGroupForm" (closeForm)="closeGroupForm()"></group-form>
        </div>
        <div class="dialogs-panel">
            <div *ngFor="let dialog of dialogs">
                <button *ngIf="dialog.isGroup === false" class="dialog-button"
                    (click)="onKeyChat(dialog.id, dialog.name)">
                    <div>
                        <p>{{ dialog.name }}<span *ngIf="onlineMarkers.includes(dialog.id)" class="online-dot"></span>
                        </p>

                        <p *ngIf="dialog.lastMessage">{{dialog.lastMessage}} - {{dialog.dateTime | date:'dd|MM|yyyy '}}
                        </p>

                    </div>
                </button>
                <button *ngIf="dialog.isGroup === true" class="dialog-button"
                    (click)="onKeyGroup(dialog.id , dialog.name)">
                    <div>
                        <p>{{ dialog.name }}</p>
                        <p *ngIf="dialog.lastMessage">{{dialog.lastMessage}} - {{dialog.dateTime | date:'dd|MM|yyyy '}}
                        </p>
                    </div>
                </button>
            </div>
        </div>
    </div>
    <div class="chat-panel" *ngIf="showChat">
        <div class="chat-header">
            <p>{{nameDialog}}</p>
        </div>
        <div class="history">
            <div *ngFor="let group of personalMessages">
                <p class="date-message">{{group.sentAt | date:'dd|MM|yyyy '}}</p>
                <div *ngFor="let message of group.messages">
                    <div *ngIf="message.senderId !== personId" class="incoming-message-container">
                        <div class="incoming-message">
                            <p class="message-text">{{ message.content }} - {{ message.senderLogin}} - {{ message.sentAt
                                |
                                date:'HH:mm'}}</p>
                        </div>
                        <span *ngIf="message.isCheck === false" class="dot"></span>
                    </div>
                    <div *ngIf="message.senderId === personId" class="outgoing-message-container">
                        <span *ngIf="message.isCheck === false" class="dot"></span>
                        <div class="outgoing-message">
                            <p class="message-text">{{ message.content }} - {{ message.senderLogin}} - {{ message.sentAt
                                |
                                date:'HH:mm'}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="input-container" *ngIf="showChat">
            <input class="message-input" [(ngModel)]="message" (keyup.enter)="sendMessage()"
                (focus)="changeStatusMessages()">
            <button class="send-button" (click)="sendMessage()">Send message</button>
        </div>
    </div>
    <group *ngIf="showGroup" class="chat-panel" [nameGroup]="nameGroup" [groupId]="groupId"></group>
</div>