.signup-page {
    font-family: Arial, sans-serif;
    margin: 0;
    width: 100%;
    align-items: center;
}

.signup-container {
    width: 400px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.signup-container label {
    display: block;
    margin-bottom: 5px;
}

.signup-container input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.signup-container button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.signup-container button:hover {
    background-color: #45a049;
}

.errorAllert {
    color: red;
}

.back-button {
    margin-left: 1%;
}